.navbar {
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    padding: 12px 22px;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    color: #CCC;
    font-weight: 500;
}

.nav-item.active {
    color: #FF7508;
}
