* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html, body, #root, .app {
    background-color: #EEE;
    font-size: 13px;
    height: 100%;
    margin: 0;
}

.page {
    padding: 9px;
}

.round-corners {
    border-radius: 3px;
}

.uppercase {
    text-transform: uppercase;
}

.white-card {
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
    padding: 11px 13px;
    padding-bottom: 12px;
}
